.currency-show-block {
  color: white;
  background: #336666;
  text-align: center;
  padding: 20px 40px;
  border-radius: 7px;

  &__first-row {
    padding-bottom: 20px;
  }

}

.v-select {
  .dropdown-toggle {
    background: white;
  }
}
